/* -----------------------------------------------------------------------------
 * HUB BUNDLE
 * - COMMON layers: settings, tools, generic (reset), objects, utilities
 * - HUB layers: foundations, vendor, fonts, components
 */

/* -----------------------------------------------------------------------------
 * CONFIG
 */

@use "../../common/scss/settings/settings" as * with (
  $s-config-path-fonts: '/assets/fonts/'
);
@use "../../common/scss/tools/tools" as *;
@use "foundations/foundations" as *;
// Ensure foundation maps are visible to objects (e.g., $f-wrappers)
@use "foundations/foundations.wrappers" as *;
@use "foundations/foundations.spaces" as *;
@use "foundations/foundations.font-families" as *;
@use "foundations/foundations.font-sizes" as *;
@use "foundations/foundations.line-heights" as *;
@use "foundations/foundations.colors" as *;
@use "foundations/foundations.shadows" as *;

/* -----------------------------------------------------------------------------
 * VENDORS
 */
@import "vendor/vendor";

/* -----------------------------------------------------------------------------
 * BASE
 */
@import "../../common/scss/generic/generic";
@import "generic/generic.fonts";

/* -----------------------------------------------------------------------------
 * ABSTRACTIONS
 */
@import "../../common/scss/objects/objects";

/* -----------------------------------------------------------------------------
 * CONTENT (HUB specific)
 */
@import "components/components";

/* -----------------------------------------------------------------------------
 * OVERRIDES
 */
@import "../../common/scss/utilities/utilities";
