.c-simple-tabs {
  $this:&;
  &__head {
    font-size: 21px !important;
    font-weight: bold;
    padding: 15px 0 !important;
    border-top: 1px solid var(--color-dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;
    @include breakpoint(s down) {
      font-size: 16px !important;
    }
    &.ui-accordion-header-active {
      border-bottom: 1px solid var(--color-dark-grey);
      color: var(--color-primary);
      #{$this} {
        &__icon {
          &:after {
            content: unset;
          }
          &:before {
            background-color: var(--color-primary);
          }
        }
      }
    }
    &:last-of-type {
      &:not(.ui-accordion-header-active) {
        border-bottom: 1px solid var(--color-dark-grey);
      }
    }
  }
  &__body {
    overflow: visible !important;
    padding: 24px 0 !important;
    &:not(.ui-accordion-content-active) {
      .c-grid-blocks-2cols {
        opacity: 0;
      }
    }
    &.ui-accordion-content-active {
      .c-grid-blocks-2cols {
        transition: 0.4s all;
      }
    }
    .c-grid-blocks-2cols {


    }
  }
  &__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 3px;
      height: 15px;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-text);
      @include breakpoint(s down) {
        left: 5px;
        height: 12px;
        width: 2px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 3px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: var(--color-text);
      transition: 0.4s all;
      @include breakpoint(s down) {
        width: 12px;
        height: 2px;
      }
    }
  }
}