.fc-daygrid-event {
  margin: 5px 15px !important;
  padding: 2px 10px;
  letter-spacing: 1px;
  font-size: 13px;
  @include breakpoint(m down) {
      margin: 5px 2px !important;
      padding: 2px 0px;
      letter-spacing: 0;
      font-size: 8px;
      line-height: 1.2em;
  }
}

.fc-button.fc-today-button {
  color: var(--color-primary) !important;
  opacity: 1 !important;
  font-weight: 600;
  position: relative;
  padding: 0;
  margin-left: 27px !important;
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 0;
    left: 0;
    transition: 0.6s all;
    background-color: var(--color-primary);
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.fc-day-today {
  background-color: rgba(243, 146, 0, 0.7) !important;
}

.fc-button {
  background: none !important;
  border: none !important;
  color: grey !important;
}

.fc-button-group {
  border-right: 1px solid black;
}

.fc-toolbar-title {
  color: var(--color-primary);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px !important;
  @include breakpoint(m) {
    font-size: 30px !important;
  }
}

.fc-col-header-cell-cushion {
  font-weight: 400 !important;
  text-transform: capitalize;
}

.fc-event .fc-event-main {
  position: relative;
  z-index: 2;
  margin: 5px 0px;
}

.fc-h-event .fc-event-title {
  display: inline-block;
  vertical-align: top;
  left: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
}

.button.fc-today-button.fc-button.fc-button-primary {
  color: var(--color-primary);
}
.button.fc-today-button.fc-button.fc-button-primary:hover {
  text-decoration: underline;
}
.fc-event {
  cursor: pointer;
}

.fc .fc-col-header-cell-cushion {
  @include breakpoint(s down) {
    padding: 2px 0px;
    font-size: 9px;
  }
}

.fc .fc-daygrid-day-number {
  @include breakpoint(s down) {
    font-size: 10px;
  }
}

.fc-toolbar-chunk {
  @include breakpoint(m down) {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }
  &:last-of-type {
    @include breakpoint(m down) {
      text-align: right;
    }
  }
  .fc-button-group {
    @include breakpoint(m down) {
      border-right: none;
    }
  }
  .fc-button {
    @include breakpoint(m down) {
      padding: 0;
      margin-left: 0 !important;
    }
  }
}

.fc .fc-view-harness {
  @include breakpoint(m down) {
    min-height: 331px;
  }
}
