.c-testimonial {
    // background-color: #EA5A0BB2;
    color: white;
    &__italic {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 36px;
        font-style: italic;
        @include breakpoint(m xl) {
          font-size: 23px;
          line-height: 30px;
        }
      @include breakpoint(m down) {
        line-height: 1.3em;
        font-size: 18px;
      }
    }
    &__name {
      font-size: 24px;
      font-style: normal;
      @include breakpoint(m down) {
        font-size: 20px;
      }
    }
    &__position {
      font-size: 16px;
      font-style: normal;
    }

    .slick-dots {
      bottom: -40px !important;
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include breakpoint(m down) {
        max-width: 200px;
      }
    }

    .slick-slider .slick-track, .slick-slider .slick-list {
      display: flex;
      align-items: center;
    }
}

.c-testimonial-grey {
  // background-color: #737673B2;
  color: white;
}