.c-circular-table{
    text-align: center;
    width:95%;
    margin-left:2.5%;
    margin-bottom:5%;

}
.c-circular-table th, .c-circular-table td{
    border-bottom: 1px solid #444;
   // 
    //padding: 10px;
}
.c-circular-table th{
    padding-bottom: 10px;
}

.APA-row td{
    border-bottom: none;
    padding-bottom:0px !important;
}

.APA-rowDetail td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-circular-marcador {
    width: 25px;
    height: 25px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 45%;

    &--taronja{
        background: var(--color-primary);
    }    
    &--gris{
        background: var(--color-light-grey);
    }
    &--negre{
        background: var(--color-dark-grey);
    }
}

.c-circular-legend {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 45%;

    &--taronja{
        background: var(--color-primary);
    }    
    &--gris{
        background: var(--color-light-grey);
    }
    &--negre{
        background: var(--color-dark-grey);
    }
}

.c-circular-llegenda{
    display: flex; 
    flex-wrap: wrap; 
    float: right; 
    padding-top: 20px; 
    padding-bottom:40px; 
    font-size: var(--font-size-xs);
    margin-right: 2.5%;
}

.c-circular-tooltip {
    font-size: var(--font-size-xs); 
    position: absolute;
    z-index:30;
    visibility: hidden; 
    padding:10px; 
    text-align: center; 
    width: 110px; 
    background-color: #fff;
    &_taronja {
        border:1px solid var(--color-primary);
    }
    &_gris {
        border:1px solid var(--color-light-grey);
    }
    &_negre {
        border:1px solid var(--color-dark-grey);
    }
}