.c-resources {
  &__card {
    text-align: center;
    // &:nth-child(odd) > .c-resources__item {
    //   background-color: white;
    // }
    // &:nth-child(even) > .c-resources__item {
    //   background-color: var(--color-primary);
    // }
    // &:nth-child(3n + 3) > .c-resources__item {
    //   background-color: var(--color-shade-400);
    // }
  }
  &__item {
    position: relative;
    transition: all 0.5s;
    color: white;
    font-size: 21px;

    &:hover > .c-resources__bg {
      display: flex !important;
    }
  }

  &__space {
    padding: 120px 20px;
  }

  &__bg {
    color: white;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.7s; /* IE 10+, Fx 29+ */

    a {
      padding: 0px 7px;
      text-decoration: underline;
      font-size: 20px;
      &:first-child {
        text-decoration: none;
      }
    }
  }
}

.c-image-card {
  &__item {
    position: relative;
    transition: all 0.5s;
    color: white;
    font-size: 20px;

    &:hover > .c-image-card__bg {
      display: flex !important;
    }

    &:hover > .c-image-card__bg-orange {
      display: flex !important;
    }
    &--title{
      font-weight:700;
      text-transform:uppercase
    }
  
    &--subtitle, &--title{
      color:var(--color-text);
      font-size:var(--font-size-l)
    }
    
    &--content{
      line-height: var(--line-height-l);
      font-size: 15px !important;
    }
  }
  


  &__bg {
    z-index: 2;
    color: white;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation: fade-in 0.7s; /* IE 10+, Fx 29+ */

    a {
      padding: 0px 7px;
      text-decoration: underline;
      font-size: 40px;
      &:first-child {
        text-decoration: none;
      }
    }

    &--title {
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-size: 18px;
      font-weight: 300;
    }

    &--content {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      line-height: var(--line-height-l);
      color: white;
      font-size: 15px;
      font-weight: 300;
      @include breakpoint(m down) {
        font-size: 13px;
        top: 10px;
      left: 10px;
      right: 10px;
      }
    }
  }
  

  &__bg-orange {
    z-index: 2;
    color: #fff;
    position: absolute;
    display: none;
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    animation: fade-in .7s;

    a {
      padding: 0px 7px;
      text-decoration: none;
      font-size: 100px;
      font-weight: 100;
      opacity: 0.7;
      position: absolute;
      bottom: 0;
      &:first-child {
        text-decoration: none;
      }
    }

    &--title, &--subtitle{
      position: absolute;
      left: 20px;
      right: 15px;
      color: #fff;
      font-weight: 500;
      line-height: var(--line-height-l);
    }
    &--title {
      top: 20px;
      font-size: 18px;
    }

    &--subtitle {
      bottom: 20px;
      font-size: var(--font-size-s);
    }
  }
}

.c-image__rounded{
  width:150px;
  height:150px;
  border-radius:150px;
  filter:gray;
  -webkit-filter:grayscale(1);
  -webkit-transition:all .2s ease-in-out
}
.c-image__rounded:hover{
  filter:none;
  -webkit-filter:grayscale(0);
  -webkit-transform:scale(1.05)
}
.c-image__equip,.c-image__gris{
  width:150px;
  height:150px;
  border-radius:150px
}
.c-image__gris{
  filter:gray;
  -webkit-filter:grayscale(1)
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
