.c-gradient-block {
  position: relative;
&:after {
   content: '';
   width: 100%;
   height: 270px;
   position: absolute;
   top: 0;
   left: 0;
   background: white;
   background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 1) 100%);
   z-index: -1;
 }
&:before {
   content: '';
   width: 100%;
   height: 270px;
   position: absolute;
   bottom: 0;
   left: 0;
   background: white;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%, white 100%);
 }
}