.c-patronato {
  &__quote {
    color: var(--color-shade-500);
    position: relative;
    @include breakpoint(l down) {
      padding-left: 24px;
    }
    &::before {
      content: '"';
      font-size: 120px;
      position: absolute;
      left: -50px;
      top: -70px;
      font-weight: bold;
      font-family: 'News Cycle';
      transform: scale(-1);
      @include breakpoint(l down) {
        //display: none;
        font-size: 100px;
        left: -15px;
        top: -60px;
      }
    }
    p {
      font-weight: bold;
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 34px;
      @include breakpoint(xl down) {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
  &__logo {
    width: 150px;
    height: 92px;
    object-fit: contain;
  }
}
