.c-card {
  background-color: var(--color-shade-600);
  color: var(--color-shade-0);
  text-align: center;
  padding: 30px;
  width: 100%;
  transition: 0.6s all;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-color: var(--color-shade-500)
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2em;
    @include breakpoint(m l) {
      font-size: 20px;
    }
  }
  &__link {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    display: inline-block;
  }
  &__container {
    .slick-track {
      display: flex;
      &>div {
        display: flex;
        height: auto;
        &>div {
          display: flex;
        }
      }
    }
    .slick-dots {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -40px;
      width: 100%;
      text-align: center;

      li {
        display: inline-block;
        opacity: .5;

        &:not(:last-of-type) {
          margin-right: 10px;
        }

        &.slick-active {
          opacity: 1;
        }

        button {
          text-indent: -100000px;
          width: 10px;
          height: 10px;
          background: var(--color-shade-400);
          border-radius: 50px;
        }
      }
    }

    .slick-arrow {
      position: absolute;
      color: var(--color-shade-400);
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background: none;
      border: none;
      font-size: 30px;
      transition: 0.4s all;
      @include breakpoint(m) {
        font-size: 56px;
      }
      &.slick-disabled {
        opacity: 0;
        pointer-events: none;
      }
      &.slick-next {
        right: -16px;
        @include breakpoint(m) {
          right: -94px;
        }
      }

      &.slick-prev {
        left: -16px;
        @include breakpoint(m) {
          left: -94px;
        }
      }
    }

  }
  }