.c-news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__title {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    @include breakpoint(m down) {
      font-size: 16px;
      line-height: 1.2em;
    }
  }
  &__container {
    background-color: var(--color-shade-0);
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(m down) {
      padding: 16px;
    }
  }

}
