.c-grid-blocks-three {
  $this:&;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  @include breakpoint(s) {
    grid-template-columns: repeat(10, 1fr);
  }
  counter-reset: div;
  @include breakpoint(l down) {
    grid-gap: 12px;
  }
  @include breakpoint(s) {
    &__item:nth-child(4n + 1) {
      grid-column: 1 /span 4;
      grid-row: auto /span 2;
    }
    &__item:nth-child(4n + 2) {
      grid-column: 5 /span 8;
      grid-row: auto /span 1;
    }
    &__item:nth-child(4n + 3) {
      grid-column: 5 /span 3;
      grid-row: auto /span 1;
    }
    &__item:nth-child(4n + 4) {
      grid-column: 8 /span 5;
      grid-row: auto /span 1;
    }
  }
  &__item {
    position: relative;
    padding: 23px;
    color: var(--color-shade-0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    @include breakpoint(s) {
      min-height: 150px;
    }
  }
  &__item-title {
    font-size: 20px;
    font-weight: bold;
    @include breakpoint(m xl) {
      font-size: 20px;
    }
    @include breakpoint(xl) {
      font-size: 24px;
    }
  }
  &__item-subtitle {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.2em;
    max-width: 231px;
    @include breakpoint(m xl) {
      font-size: 14px;
    }
    @include breakpoint(xl) {
      font-size: 16px;
    }
  }
  &__item-icon {
    position: absolute;
    bottom: 28px;
    right: 28px;
    width: 47px;
    height: 40px;
    object-fit: contain;
    @include breakpoint(s down) {
      width: 40px;
      height: 40px;
      bottom: 16px;
      right: 16px;
    }
  }
  &__item:nth-child(12n + 1) {
    background: linear-gradient(45deg, #cd5b1c 0%, #d57931 100%);
  }
  &__item:nth-child(12n + 2){
    background: linear-gradient(45deg, #464646 0%, #c1c1c1 100%);
  }
  &__item:nth-child(12n + 3) {
    background: linear-gradient(45deg, #ebba43 0%, #dc911b 100%);
  }
  &__item:nth-child(12n + 4) {
    background: linear-gradient(45deg, #c1c1c1 0%, #9b9b9a 100%);
  }
  &--big {
    #{$this}__item {
      min-height: 150px;
      @include breakpoint(s) {
        min-height: 200px;
      }
    }
  }
}