.c-slide-video {
    position: relative;

    &__item {
        position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-shade-600);
        opacity: 0.3;
      }
      .u-images {
        @include breakpoint(l down) {
          min-height: 100vh;
        }
      }
    }
    &__content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: end;
      padding-bottom: 120px;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__title {
      color: var(--color-shade-0);
      font-size: 30px;
      font-weight: bold;
      @include breakpoint(m l) {
        font-size: 40px;
      }
      @include breakpoint(m) {
        font-size: 54px;
      }
      @include breakpoint(m down) {
        text-align: center;
      }
      line-height: 1.2em;
    }
    &__subtitle {
      color: var(--color-shade-0);
      font-size: 14px;
      letter-spacing: 0.5px;
      @include breakpoint(m) {
        font-size: 18px;
      }
      @include breakpoint(m down) {
        text-align: center;
      }
      line-height: 1.2em;
    }
    .slick-dots {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 40px;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            opacity: .5;

            &:not(:last-of-type) {
                margin-right: 14px;
            }

            &.slick-active {
                opacity: 1;
            }

            button {
                text-indent: -100000px;
                width: 14px;
                height: 14px;
                background: var(--color-shade-0);
                border-radius: 50px;
            }
        }
    }

    .slick-arrow {
        position: absolute;
        color: #b7baba;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: none;
        border: none;
        font-size: 50px;
        @include breakpoint(m) {
          font-size: 27px;
        }
        &.slick-next {
          right: 4px;
          color: #b7baba;
          font-size: 50px;
          @include breakpoint(l) {
            right: -40px;
          }
        }

        &.slick-prev {
          left: 4px;
          color: #b7baba;
          font-size: 50px;
          @include breakpoint(l) {
            left: -50px;
          }
        }
    }
}

.slick-slide:nth-child(5) .c-slide__content {
  align-items: center !important;
  padding-bottom: 0 !important;
}
