.c-box-pinballDetail {
  $this:&;
  width: 100%;
  border-radius: 25px;
  padding: 24px 16px 24px 16px;
  position: relative;
  @include breakpoint(m) {
    //padding: 40px 50px 50px 40px;
  }
  background-color: #EF7926;
  &--v2 {
    @include breakpoint(m) {
      padding: 40px 50px 30px 40px;
    }
  }

  &--containers {
    &.is-active {
      margin-bottom: -32px;
    }
  }
  &__column {
    max-width: 778px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    @include breakpoint(m xl) {
      font-size: 26px;
    }
    @include breakpoint(xl) {
      font-size: 36px;
    }
  }
  &__description {
    font-size: 12px;
    line-height: 1.5em;
    p {
      margin-bottom: 4px;
    }
    @include breakpoint(m xl) {
      font-size: 13px;
    }
    @include breakpoint(xl) {
      font-size: 16px;
    }
  }
  &__sub-description {
    font-size: 10px;
    line-height: 1.5em;
    p {
      margin-bottom: 8px;
    }
    @include breakpoint(m xl) {
      font-size: 12px;
    }
    @include breakpoint(xl) {
      font-size: 14px;
    }
  }
  

  
  &__container {
    padding: 24px;
    margin-bottom: 32px;
    /*width: calc(100% - 32px);
    margin-left: 32px;*/
    @include breakpoint(xl) {
      width: 100%;
      /*margin-left: -88px;
      margin-right: -120px;*/
      /*width: calc(100% - 33px);
      margin-left: 32px;
      margin-right: 1px;*/
    }
    @include breakpoint(xl down) {
      width: calc(100% + 32px);
      margin-right: -32px;
    }
    img, iframe {
      width: 100%;
    }


  }
  &__tabs {
    @include breakpoint(s down) {
      .o-layout__item {
        &:nth-of-type(2) {
          order: 3;
        }
        &:nth-of-type(3) {
          order: 5;
        }
        &:nth-of-type(4) {
          order: 7;
        }
        &:nth-of-type(5) {
          order: 9;
        }
      }
      .c-tabs__item {
        &:nth-of-type(1) {
          order: 2;
        }
        &:nth-of-type(2) {
          order: 4;
        }
        &:nth-of-type(3) {
          order: 6;
        }
        &:nth-of-type(4) {
          order: 8;
        }
        &:nth-of-type(5) {
          order: 10;
        }
      }
    }
    &--2cols {
      .c-box-pinballDetail {
        padding: 23px;
        min-height: 150px;
        @include breakpoint(s) {
          min-height: 200px;
        }
      }
      .c-box-pinballDetail__container {
        @include breakpoint(xl) {
          width: calc(var(--wrapper-l) + 240px);
          margin-left: calc((var(--space-xxxh) + 96px) * -1);
          margin-right: calc((var(--space-xxxh) + 120px) * -1);
        }
        @include breakpoint(m xl) {
          width: calc(100% + 240px);
          margin-left: calc((var(--space-xxxh) + 8px) * -1);
          margin-right: calc((var(--space-xxxh) + 32px) * -1);
        }
      }

      #{$this}__title {
        font-weight: 600;
        line-height: 1.2em;
      }
      #{$this}--containers {
        &.is-active {
          margin-bottom: -24px
        }
      }
      @include breakpoint(s down) {
        .o-layout__item {
          &:nth-of-type(2) {
            order: 3;
          }
          &:nth-of-type(3) {
            order: 5;
          }
          &:nth-of-type(4) {
            order: 7;
          }
          &:nth-of-type(5) {
            order: 9;
          }
          &:nth-of-type(6) {
            order: 11;
          }
          &:nth-of-type(7) {
            order: 12;
          }
          &:nth-of-type(8) {
            order: 13;
          }
        }
        .c-tabs__item {
          &:nth-of-type(1) {
            order: 2;
          }
          &:nth-of-type(2) {
            order: 4;
          }
          &:nth-of-type(3) {
            order: 6;
          }
          &:nth-of-type(4) {
            order: 8;
          }
          &:nth-of-type(5) {
            order: 10;
          }
          &:nth-of-type(6) {
            order: 12;
          }
          &:nth-of-type(7) {
            order: 14;
          }
          &:nth-of-type(8) {
            order: 16;
          }
        }
      }
      .o-layout__item {
        &:nth-of-type(4n + 1) {
          .c-box-pinballDetail {
            //background: linear-gradient(90deg,#f39200,#d57931);
            background: #d57931;
          }
        }
        &:nth-of-type(4n + 2) {
          .c-box-pinballDetail {
            //background: linear-gradient(45deg,#c1c1c1,#9b9b9a);
            background: #c1c1c1;
          }
        }
        &:nth-of-type(4n + 3) {
          .c-box-pinballDetail {
            //background: linear-gradient(45deg, #464646, #9b9b9a);
            background: #464646;
          }
        }
        &:nth-of-type(4n + 4) {
          .c-box-pinballDetail {
            //background: linear-gradient(45deg,#cd5b1c,#d57931);
            background: #cd5b1c;
          }
        }
      }
      #{$this}__container {
        &:nth-of-type(4n + 1) {
            //background: linear-gradient(90deg,#f39200,#d57931);
            background: #d57931;
        }
        &:nth-of-type(4n + 2) {
           //background: linear-gradient(45deg,#c1c1c1,#9b9b9a);
          background: #c1c1c1;
        }
        &:nth-of-type(4n + 3) {
            //background: linear-gradient(45deg, #464646, #9b9b9a);
          background: #464646;
        }
        &:nth-of-type(4n + 4) {
            //background: linear-gradient(45deg,#cd5b1c,#d57931);
          background: #cd5b1c;
        }
      }
    }
  }
  &__list {
    font-size: 36px;
    font-weight: bold;
    @include breakpoint(m xxl) {
      font-size: 28px;
    }
    @include breakpoint(m down) {
      font-size: 16px;
    }
    a {
      line-height: 1.4em;
      color: var(--color-soft-grey);
      transition: 0.4s all;
      &:hover {
        color: var(--color-text);
      }
      &.is-active {
        font-size: 42px;
        color: var(--color-text);
        @include breakpoint(m xxl) {
          font-size: 33px;
        }
        @include breakpoint(m down) {
          font-size: 20px;
        }
      }
    }
  }
  &__item-icon {
    position: absolute;
    bottom: 19px;
    right: 19px;
    width: 75px;
    height: 50px;
    object-fit: contain;
    object-position: bottom right;
    @include breakpoint(s down) {
      width: 50px;
      height: 40px;
      bottom: 16px;
      right: 16px;
    }
  }
}

.pinballDetail__title {
  font-family: 'Oswald'; 
  font-weight: bold; 
  color:#ffa101 !important;
}

.lineaHoritzontal{
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 12px;
  border: 2px solid #ffa101; 
  &__left{
    width:5%;
  }

  &__right{
    width:59%;
  }
}

.selector-rama{
  font-size: 18px;
    border: 1px solid #ffa101;
    color:#444;
    margin-left: 2%;
    padding: 5px;
    border-radius: 5px;
    width: 54%;
    font-family: var(--font-family-primary);
}

.pinballDetail_table{
  font-size: 18px;
  text-align: center;

  &__marcador1{
    max-width: 150px; 
    height: 80px; 
    vertical-align: middle; 
    border:1px solid #444; 
    padding:8px; 
    text-align: center; 
    border-radius: 10px;
  }

  .pinballDetail_table > td {
    border:none !important;
  }

  &__bg{
    background-color:var(--color-text); 
    color:white; 
    height: 100%; 
    width: 100%; 
    display:block; 
    padding-top:15px;
  }

  &__bg2{
    float:left; 
    background-color:var(--color-text); 
    color:white; 
    height: 100%; 
    width: 85%; 
    display:block; 
    padding-top:15px;    
  }

  &__text{
    font-size: 30px; 
    font-weight: 500; 
    color:#ffffff !important; 
    font-family: 'Oswald';
    margin-top:10px;
  }

  &__perc{
    float:right; 
    margin-top:40px;
  }

}