.c-login {
  &__title {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    @include breakpoint(m) {
      font-size: 24px;
    }
    @include breakpoint(m down) {
      padding-right: 19px;
    }
  }
  &__input {
    height: 47px;
    width: 100%;
    border: 1px solid var(--color-shade-300);
    box-shadow: none;
    padding: 12px;
    font-family: var(--font-family);
    color: var(--color-shade-400);
    font-size: 16px;
    letter-spacing: 0;
    @include breakpoint(m down) {
      font-size: 16px !important;
    }
    &::placeholder {
      color: var(--color-shade-400);
      font-family: var(--font-family);
      font-size: 16px;
      letter-spacing: 0;
      @include breakpoint(m down) {
        font-size: 16px !important;
      }
    }
    &:focus-visible {
      outline: none;
      border: 2px solid #101010;
    }
  }
  &__links {
    color: var(--color-primary);
    line-height: 1.2em;
    font-size: 15px;
    a {
      margin-bottom:8px;
      transition: 0.4s all;
    }
  }
  &__required {
    font-size: 14px;
    color: var(--color-shade-400);
  }
  &__check {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0;
    @include breakpoint(m down) {
      font-size: 13px;
      line-height: 1.4em;
    }
    input {
      margin-right: 8px;

      &:checked {
        filter: invert(0%) hue-rotate(
            555deg) brightness(1.6);
      }
    }
    a {
      color: var(--color-primary);
      margin:  0 4px;
      transition: 0.4s all;
      font-weight: initial;
      &:hover {
        color: var(--color-text);
        text-decoration: underline;
      }
    }
    &--big {
      font-size: 16px;
      align-items: flex-start;
    }
  }
  &__back {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.99px;
    align-items: center;
    transition: 0.4s all;
    position: absolute;
    left: 19px;
    top: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      transform: rotateZ(180deg);
      width: 16px;
      path, g {
        transition: 0.4s all;
        fill: var(--color-primary);
      }
    }
    &:hover {
      border-color: var(--color-text);
      color: var(--color-text);
      svg {
        path, g {
          fill: var(--color-text);
        }
      }
    }
  }
  &__bottom {
    position: sticky;
    bottom: -29px;
    width: 100%;
    left: 0;
    padding: 0 0 24px 0;
    background-color: var(--color-shade-0);
  }
  &__container {
    //padding-bottom: 100px;
    max-height: calc(71vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
    @include breakpoint(m) {
      //padding-bottom: 165px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color-primary);
      border-radius: 10px;
    }
  }
  &__subtitle {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2em;
    @include breakpoint(m down) {
      font-size: 16px !important;
    }
  }
  &__section {
    border-bottom: 1px solid var(--color-shade-400);
  }
}