.c-scroll-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    font-size: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: var(--color-secondary);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
