.c-chat-bot {
  position: fixed;
  bottom: 48px;
  right: 30px;
  z-index: 10;
  pointer-events: none; //  añadido
  --tooltip-height: 0px; //  añadido 
  @include breakpoint(m xl) {
    bottom: 16px;
    right: 16px;
  }
  @include breakpoint(m down) {
    bottom: 10px;
    right: 10px;
  }
  @include breakpoint(m xl) {
    transform: scale(0.6);
  }
  @include breakpoint(m down) {
    transform: scale(0.5);
  }
  svg {

    filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.4));

    linearGradient {
      stop {
        transition: 0.4s all;
        &:nth-of-type(2) {
          transition-delay: 0.2s;
        }
      }
    }
    polygon {

    }
  }
  &:hover {
    svg {
      linearGradient {
        stop {
          &:nth-of-type(1) {
            stop-color: #c1c1c1 !important;
          }
          &:nth-of-type(2) {
            stop-color: #9b9b9a !important;
          }
        }
      }
    }
  }
  &.is-open { // añadido
    .svg {
      transform: translateY(calc(var(--tooltip-height) * -1 - 8px)); 
    }
  }
   .c-tooltip-info__container {// añadido
    position: absolute;
    bottom: 0;
    right: 5px;
    padding: 1px;
    pointer-events: auto;
    z-index: 1;
  }
}