/* -----------------------------------------------------------------------------
 * FONT FAMILIES
 */

@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Oswald");

@mixin f-font-families {
  --font-family-primary: Inter, Arial, sans-serif;
  --font-family-secondary: Inter, Arial, sans-serif;
  --font-family-quotes: "News Cycle", sans-serif;
  --font-family-pinball: "Oswald";
}

// Map

$f-font-families: (
  "primary": var(--font-family-primary),
  "secondary": var(--font-family-secondary),
  "quotes": var(--font-family-quotes),
  "pinball": var(--font-family-pinball),
) !default;
