/* -----------------------------------------------------------------------------
 * COMPONENTS (HUB bundle)
 * Lista de componentes que compilan para HUB.
 * Añade o comenta líneas según necesites (prefijo: components.)
 */

@import "components.header";
@import "components.footer";
@import "components.carousel";
@import "components.slide";
@import "components.banner-register";
@import "components.card";
@import "components.info-banner";
@import "components.login";
@import "components.singin";
@import "components.tabs";
@import "components.modal";
@import "components.gradient-block";
@import "components.tabs-docs";
@import "components.background-thumb";
@import "components.chat-bot";
@import "components.flip-card";
@import "components.btn";
@import "components.title";
@import "components.input";
@import "components.tooltip-info";
@import "components.simple-tabs";
