/* -----------------------------------------------------------------------------
 * COMPONENTS
 */

//@import "components.";
@import "components.slide";
@import "components.carousel";
@import "components.pagination";
@import "components.breadcrumbs";
@import "components.header";
@import "components.tabs";
@import "components.modal";
@import "components.btn";
@import "components.title";
@import "components.description";
@import "components.grid-items";
@import "components.news-card";
@import "components.banner-register";
@import "components.card";
@import "components.logos-carousel";
@import "components.contact-banner";
@import "components.info-banner";
@import "components.input";
@import "components.footer";
@import "components.login";
@import "components.banner-heading";
@import "components.singin";
@import "components.testimonial";
@import "components.contact-form";
@import "components.accordion";
@import "components.account";
@import "components.prensa";
@import "components.organigrama";
@import "components.fullcalendar";
@import "components.patronato";
@import "components.resources";
@import "components.slide-video";
@import "components.gradient-block";
@import "components.tabs-docs";
@import "components.background-thumb";
@import "components.box-icg";
@import "components.grid-blocks";
@import "components.grid-blocks-2cols";
@import "components.grid-blocks-v2";
@import "components.grid-blocks-three";
@import "components.grid-auto";
@import "components.chat-bot";
@import "components.tooltip-info";
@import "components.simple-tabs";
@import "components.flip-card";
@import "components.grid-case";
@import "components.box-pinballDetail";
@import "components.circular-control";
@import "components.memories-grids";
@import "components.timeline";
@import "components.scrolltop";
@import "components.motion-cards";
@import "components.icg-items";
@import "components.rating-items";
@import "components.ap-aplications";
@import "components.maps";
@import "components.vquestion";


