.c-flip-card{
    perspective: 1000px;
    aspect-ratio: 1/1;


    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &:hover &__inner{
        transform: rotateY(180deg);
    }

    &__front{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: black;
        transform: rotateX(0deg);
    }

    &__back{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: white;
        transform: rotateY(180deg);
        top:0;
        left:0;
    }
}

.c-button-flip{
    height:30px;
    font-size: 14px;
}